.about {
  border: 1px solid var(--border-color);
  border-radius: .75rem;
  margin-top: 1.5rem;
  overflow: hidden;
}

.about .head {
  background-color: var(--background-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid var(--border-color);
}

.about .head .head-title {
  font-weight: 700;
  color: var(--white-muted);
}

.about .head .head-title .bold {
  color: var(--white);
}

.about .head a.head-link{
  font-size: .75rem;
  display: flex;
  align-items: center;
}

.about .head a.head-link .link-icon{
  width: .75rem;
  height: .75rem;
  margin-left: .25rem;
}

.about table {
  width: 100%;
  font-size: .85rem;
}

.about table tr .year {
  text-align: left;
}

.about table tr .max, .about table tr .contribs {
  text-align: right;
}

.about table tr th {
  padding: .75rem 1.15rem;
  border-bottom: 1px dashed var(--border-color);
  font-weight: 700;
  color: var(--white-muted);
}

.about table tr td {
  padding: .5rem 1.15rem;
  border-bottom: 1px dashed var(--border-color);
  font-family: var(--monaspace-neon);
  font-weight: 400;
}

.about table tr:last-child td {
  border-bottom: none;
}

.about table tr td.total {
  padding: .5rem 1.15rem;
  font-weight: 700;
  font-size: .9rem;
}

.about table tr td.highest {
  font-weight: 700;
  color: var(--blue);
}