/* FONTS */
@font-face {
  font-family: "Mona Sans";
  src: url("./assets/fonts/MonaSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Mona Sans";
  src: url("./assets/fonts/MonaSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Monaspace Neon";
  src: url("./assets/fonts/MonaspaceNeon-Regular.woff") format("woff");
  font-weight: 400;
}

/* VARIABLES */
:root {
  --background: #0e1117;
  --background-dark: #02040a;
  --background-light: #181a20;
  --white: #ffffff;
  --white-muted: #8a939e;
  --white-muted-xl: #5b6672;
  --border-color: #292e38;
  --border-color-hover: #383f4a;
  --blue: #00ffd0;
  --mona-sans: "Mona Sans", "Helvetica", sans-serif;
  --monaspace-neon: "Monaspace Neon", monospace;
}

/* GENERAL */
body {
  background-color: var(--background);
  color: var(--white);
  font-family: var(--mona-sans);
  font-weight: 400;
}

a {
  color: var(--white-muted);
  font-family: var(--monaspace-neon);
}
a:hover {
  color: var(--white)
}

/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* FORM RESET */
input {
  -webkit-appearance: none;
}
input, label, select, button, textarea {
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: inherit;
  font-family: inherit;
}
input:focus, select:focus {
  outline: 0;
}
input, textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
button, input[type=reset], input[type=button], input[type=submit], input[type=checkbox], input[type=radio], select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=checkbox], input[type=radio]{
  width: 13px;
  height: 13px;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
::-webkit-search-decoration {
  display: none;
}
button, input[type="reset"], input[type="button"], input[type="submit"]{
  overflow: visible;
  width: auto;
}
::-webkit-file-upload-button{	
  padding: 0;
  border: 0;
  background: none;
}
textarea {
  vertical-align: top;
  overflow: auto;
}
select[multiple] {
  vertical-align: top;
}