.title {
  display: inline-block;
  margin-bottom: 2rem;
}

.title a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white
}
.title a:hover {
  text-decoration: underline;
}

.title img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border-radius: 2.5rem;
}

.title h1 {
  font-family: var(--monaspace-neon);
  font-weight: 700;
  font-size: 1.5rem;
}