.tree-container {
  position: relative;
  background-color: var(--background-dark);
  background-image: url(../../../assets/images/grid-bg.svg);
  aspect-ratio: 1/1;
  border-radius: .75rem;
  overflow: hidden;
}

canvas {
  z-index: 5;
}

button.download-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  color: var(--white-muted);
  cursor: pointer;
  background-color: var(--background);
  padding: .25rem;
  border: 1px solid var(--border-color);
  border-radius: .2rem;
}
button.download-btn:hover {
  border: 1px solid var(--border-color-hover);
  color: var(--white);
}

button.download-btn svg {
  width: 1rem;
  height: 1rem;
}