.tree-container {
  background-color: var(--background-dark);
  background-image: url(../../../assets/images/grid-bg.svg);
  aspect-ratio: 1/1;
  border-radius: .75rem;
}

.canvas {
  width: 100%;
  height: 100%;
}