.container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  min-height: 100dvh;
  margin: auto;
  padding: 1.5rem;
}

@media only screen and (min-width: 580px) {
  .container {
    padding: 3rem;
  }
}