.search {
  width: 100%;
  flex-grow: 1;
}

.search form {
  width: 100%;
  flex-grow: 1;
}

.search label {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: .4rem;
  padding: .6rem .6rem;
  min-width: 100%;
  cursor: text;
}
.search label:focus-within {
  border: 1px solid var(--blue);
}

.search .search-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .5rem;
  color: var(--white-muted);
}

.search input {
  color: var(--white);
  font-size: 1rem;
}
.search input::placeholder {
  color: var(--white-muted);
}

@media only screen and (min-width: 580px) {
  .search {
    max-width: 20rem;
  }
}