header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  min-width: 3.3rem;
  opacity: 0.6;
}
header .logo:hover {
  opacity: 1;
}

header a {
  text-decoration: none;
  color: var(--white);
}
header a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 580px) {
  header .logo {
    width: 5rem;
  }
}